PORT=5000
MONGO_URL=your_mongodb_connection_string
ACCESS_TOKEN_SECRET=your_jwt_access_token_secret
REFRESH_TOKEN_SECRET=your_jwt_refresh_token_secret
NODE_ENV=development

# RAZORPAY
RAZORPAY_APIKEY=your_razorpay_key
RAZORPAY_SECRET=your_razorpay_secret

# SMTP MAIL
SMTP_USER=your_smtp_username
SMTP_PASS=your_smtp_password
SENDER_EMAIL=your_sender_email

# CLOUDINARY
CLOUD_NAME=your_cloudinary_cloud_name
API_KEY=your_cloudinary_api_key
API_SECRET=your_cloudinary_api_secret